@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #dbeafe;
  --background: #f9fafb;
  --foreground: #666d80;
  --muted: #dfe1e7;
}
